@-webkit-keyframes shake-vertical{0%,100%{-webkit-transform:translateY(0);transform:translateY(0)}10%,30%,50%,70%{-webkit-transform:translateY(-8px);transform:translateY(-8px)}20%,40%,60%{-webkit-transform:translateY(8px);transform:translateY(8px)}80%{-webkit-transform:translateY(6.4px);transform:translateY(6.4px)}90%{-webkit-transform:translateY(-6.4px);transform:translateY(-6.4px)}}@keyframes shake-vertical{0%,100%{-webkit-transform:translateY(0);transform:translateY(0)}10%,30%,50%,70%{-webkit-transform:translateY(-8px);transform:translateY(-8px)}20%,40%,60%{-webkit-transform:translateY(8px);transform:translateY(8px)}80%{-webkit-transform:translateY(6.4px);transform:translateY(6.4px)}90%{-webkit-transform:translateY(-6.4px);transform:translateY(-6.4px)}}

@-webkit-keyframes vibrate-1{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}40%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}60%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}80%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}@keyframes vibrate-1{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}40%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}60%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}80%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}

@-webkit-keyframes fade-out{0%{opacity:1}100%{opacity:0}}@keyframes fade-out{0%{opacity:1}100%{opacity:0}}

@-webkit-keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}@keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}

@-webkit-keyframes slide-out-tr{0%{-webkit-transform:translateY(0) translateX(0);transform:translateY(0) translateX(0);opacity:1}100%{-webkit-transform:translateY(-1000px) translateX(1000px);transform:translateY(-1000px) translateX(1000px);opacity:0}}@keyframes slide-out-tr{0%{-webkit-transform:translateY(0) translateX(0);transform:translateY(0) translateX(0);opacity:1}100%{-webkit-transform:translateY(-1000px) translateX(1000px);transform:translateY(-1000px) translateX(1000px);opacity:0}}

@-webkit-keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}

@-webkit-keyframes puff-out-center{0%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}100%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}}@keyframes puff-out-center{0%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}100%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}}

@-webkit-keyframes flicker-out-2{0%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1);box-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}13.9%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1);box-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}14%{opacity:0;-webkit-box-shadow:none;box-shadow:none}14.9%{opacity:0;-webkit-box-shadow:none;box-shadow:none}15%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1);box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}22.9%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1);box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}23%{opacity:0;-webkit-box-shadow:none;box-shadow:none}24.9%{opacity:0;-webkit-box-shadow:none;box-shadow:none}25%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1);box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}34.9%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1);box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}35%{opacity:0;-webkit-box-shadow:none;box-shadow:none}39.9%{opacity:0;-webkit-box-shadow:none;box-shadow:none}40%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35);box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}42.9%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35);box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}43%{opacity:0;-webkit-box-shadow:none;box-shadow:none}44.9%{opacity:0;-webkit-box-shadow:none;box-shadow:none}45%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25);box-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}50%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25);box-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}54.9%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25);box-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55%{opacity:0;-webkit-box-shadow:none;box-shadow:none}69.4%{opacity:0;-webkit-box-shadow:none;box-shadow:none}69.5%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25);box-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}69.9%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25);box-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}70%{opacity:0;-webkit-box-shadow:none;box-shadow:none}79.4%{opacity:0;-webkit-box-shadow:none;box-shadow:none}79.9%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.25);box-shadow:0 0 30px rgba(255,255,255,.25)}80%{opacity:0;-webkit-box-shadow:none;box-shadow:none}89.8%{opacity:0;-webkit-box-shadow:none;box-shadow:none}89.9%{opacity:1;-webkit-box-shadow:none;box-shadow:none}90%{opacity:0;-webkit-box-shadow:none;box-shadow:none}100%{opacity:0}}@keyframes flicker-out-2{0%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1);box-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}13.9%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1);box-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}14%{opacity:0;-webkit-box-shadow:none;box-shadow:none}14.9%{opacity:0;-webkit-box-shadow:none;box-shadow:none}15%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1);box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}22.9%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1);box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}23%{opacity:0;-webkit-box-shadow:none;box-shadow:none}24.9%{opacity:0;-webkit-box-shadow:none;box-shadow:none}25%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1);box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}34.9%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1);box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}35%{opacity:0;-webkit-box-shadow:none;box-shadow:none}39.9%{opacity:0;-webkit-box-shadow:none;box-shadow:none}40%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35);box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}42.9%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35);box-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}43%{opacity:0;-webkit-box-shadow:none;box-shadow:none}44.9%{opacity:0;-webkit-box-shadow:none;box-shadow:none}45%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25);box-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}50%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25);box-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}54.9%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25);box-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55%{opacity:0;-webkit-box-shadow:none;box-shadow:none}69.4%{opacity:0;-webkit-box-shadow:none;box-shadow:none}69.5%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25);box-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}69.9%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25);box-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}70%{opacity:0;-webkit-box-shadow:none;box-shadow:none}79.4%{opacity:0;-webkit-box-shadow:none;box-shadow:none}79.9%{opacity:1;-webkit-box-shadow:0 0 30px rgba(255,255,255,.25);box-shadow:0 0 30px rgba(255,255,255,.25)}80%{opacity:0;-webkit-box-shadow:none;box-shadow:none}89.8%{opacity:0;-webkit-box-shadow:none;box-shadow:none}89.9%{opacity:1;-webkit-box-shadow:none;box-shadow:none}90%{opacity:0;-webkit-box-shadow:none;box-shadow:none}100%{opacity:0}}

@-webkit-keyframes focus-in-expand{0%{letter-spacing:-.5em;-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes focus-in-expand{0%{letter-spacing:-.5em;-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}

body {
    font-family: 'Pirata One', cursive;
    display: grid;
    min-height: 100vh;
    margin: 0 auto;
    grid-template-columns: 1fr 2fr;
    grid-template-rows:  .5fr 1fr 1fr;
    grid-template-areas: "heading score"  
                         "graphics div"  
                         "graphics main"
                         
}

h1 {
    grid-area: heading;
    position: relative;
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 5rem;
    text-align: center;
    align-items: center;
    background-color: black;
    padding: 2px;
    margin-top: 50px;
}

.heading {
    background-color: black;
}

.graphics-area {
    grid-area: graphics;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.hide {
    display: none;
}

.form-input {
    padding: 10px;
    border-style: none;
    font-family: 'Pirata One', cursive;
}

.go, .random {
    background-color: orangered;
    font-family: 'Pirata One', cursive;
    color: black;
    border-style: none;
    border: none;
    padding: 10px;
    /* font-size: 16px; */
}

.go:hover, .random:hover {
    /* background-color: rgb(121, 4, 4); */
    background-color: rgb(223, 223, 87);
    color: black;
}

#window {
    position: relative;
    display: flex;
    height: 450px;
    width: 450px;
    background-image: url(img/chris-barbalis-aX4zU9Rp7jo-unsplash.jpg);
    background-size: cover;
    background-color: white;
    border-radius: 50%;
    margin: 15px;
    /* align-items: center; */
    justify-content: center;
}

.witch-img {
    height: 70%;
    width: 70%;
    position: absolute;
    top: -100px;
    align-items: flex-start;
}

.fire-img {
    position: absolute;
    opacity: 0.9;
    bottom: 0;
    height: auto;
    width: 100%;
    border-radius: 50%;
}

.expand {
    height:100vh;
    width: 100vw;
}

.gradient-text {
    background-image: linear-gradient(45deg, rgba(238,29,29,1), rgba(255,229,0,1));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

/* .heading {
    padding: 2px;
    margin-top: 50px;
} */

.scoreboard {
    grid-area: score;
    margin: 30px;
    font-size: 1.5rem;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#wordToGuess{
    grid-area: div;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
    padding-top: 100px;
}

.hidden-word{
    color: white;
    display:hidden;
}

.border {
    border-bottom: 2px solid black;
    display: inline-flex;
    padding: 10px;
}

.start-screen {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

.focus-in-expand {
    -webkit-animation:focus-in-expand .8s cubic-bezier(.25,.46,.45,.94) both;animation:focus-in-expand .8s cubic-bezier(.25,.46,.45,.94) both
}

main {
    grid-area: main;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    padding: 50px;
}

button {
    font-family: 'Pirata One', cursive;
    font-size: 2rem;
    display: inline-flex;
    padding: 15px;
    margin: 15px;
    width: 50px;
    height: auto;
    border: 1px solid black;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

button:hover {
    background-color: black;
    color: white
}

.final-message {
    font-family: 'Pirata One', cursive;
    font-size: 56px;
    color: rgb(143, 8, 8);
    -webkit-animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both
}

/* Letter chosen */

.crossout {
    background-image: url(img/noun_X_2500111.png);
    background-position: center;
    background-size: cover;
    pointer-events: none;
}

.fire-out {
    -webkit-animation:fade-out 2s ease-out both;animation:fade-out 2s ease-out both;
}

.attention {
    -webkit-animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both;animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both
}

.shake {
    -webkit-animation:shake-vertical .8s cubic-bezier(.455,.03,.515,.955) both;animation:shake-vertical .8s cubic-bezier(.455,.03,.515,.955) both
}

.wrong {
    -webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
}

.alert{
    -webkit-animation:heartbeat 1.5s ease-in-out infinite both;animation:heartbeat 1.5s ease-in-out infinite both
}

.wrong-two {
    background-position: center;
    background-size: cover;
    align-items: center;
}

.free-witch {
    background-position: center;
    background-size: contain;
    -webkit-animation:scale-in-center .7s cubic-bezier(.25,.46,.45,.94) 2.5s both;animation:scale-in-center .7s cubic-bezier(.25,.46,.45,.94) 2s both
}

.fly-out {
    -webkit-animation:slide-out-tr .5s cubic-bezier(.55,.085,.68,.53) both;animation:slide-out-tr .5s cubic-bezier(.55,.085,.68,.53) both
}

.dead-witch {
    -webkit-animation:puff-out-center 1s cubic-bezier(.165,.84,.44,1.000) both;animation:puff-out-center 1s cubic-bezier(.165,.84,.44,1.000) both
}