@-webkit-keyframes shake-vertical{0%,100%{-webkit-transform:translateY(0);transform:translateY(0)}10%,30%,50%,70%{-webkit-transform:translateY(-8px);transform:translateY(-8px)}20%,40%,60%{-webkit-transform:translateY(8px);transform:translateY(8px)}80%{-webkit-transform:translateY(6.4px);transform:translateY(6.4px)}90%{-webkit-transform:translateY(-6.4px);transform:translateY(-6.4px)}}@keyframes shake-vertical{0%,100%{-webkit-transform:translateY(0);transform:translateY(0)}10%,30%,50%,70%{-webkit-transform:translateY(-8px);transform:translateY(-8px)}20%,40%,60%{-webkit-transform:translateY(8px);transform:translateY(8px)}80%{-webkit-transform:translateY(6.4px);transform:translateY(6.4px)}90%{-webkit-transform:translateY(-6.4px);transform:translateY(-6.4px)}}

@-webkit-keyframes vibrate-1{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}40%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}60%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}80%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}@keyframes vibrate-1{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}40%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}60%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}80%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}

body {
    font-family: 'Pirata One', cursive;
    display: grid;
    min-height: 100vh;
    margin: 0 auto;
    grid-template-columns: 1fr 2fr;
    grid-template-rows:  .5fr 1fr 1fr 1fr;
    grid-template-areas: "header score"  
                         "graphics div"  
                         "graphics main"
                         "graphics main"
}

header {
    font-family: 'UnifrakturMaguntia', cursive;
    font-size: 5rem;
    text-align: center;
    align-items: center;
    background-color: black;
    color: white;
}

.heading {
    padding: 25px;
    margin-top: 50px;
}

#scoreboard {
    grid-area: score;
    margin: 30px;
    font-size: 1.5rem;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#wordToGuess{
    grid-area: div;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
    padding-top: 100px;
}

.border {
    border-bottom: 2px solid black;
    display: inline-flex;
    padding: 10px;
}

.hidden {
    color: white;
}

.shake {
    -webkit-animation:shake-vertical .8s cubic-bezier(.455,.03,.515,.955) both;animation:shake-vertical .8s cubic-bezier(.455,.03,.515,.955) both
}

.wrong {
    -webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
}

#graphics-area {
    grid-area: graphics;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#window {
    position: relative;
    display: flex;
    height: 450px;
    width: 450px;
    background-color: white;
    border-radius: 50%;
    margin: 15px;
    /* align-items: center; */
    justify-content: center;
}

#witch-img {
    height: 70%;
    width: 70%;
    position: absolute;
    top: -100px;
    align-items: flex-start;
}

#fire-img {
    position: absolute;
    opacity: 0.9;
    bottom: 0;
    height: auto;
    width: 100%;
    border-radius: 50%;
}

main {
    grid-area: main;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    padding: 50px;
}

button {
    font-family: 'Pirata One', cursive;
    font-size: 2rem;
    display: inline-flex;
    padding: 15px;
    margin: 15px;
    width: 50px;
    height: auto;
    border: 1px solid black;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

button:hover {
    background-color: black;
    color: white
}

.final-message {
    font-family: 'Pirata One', cursive;
    font-size: 56px;
    color: rgb(143, 8, 8);
}